# image-updater-values.yaml
# Общие RBAC/SA-настройки
serviceAccount:
  create: true
rbac:
  enabled: true

# Интервал проверки
extraArgs:
  - --interval=1m

# Детальный лог
config:
  logLevel: debug
  # Описание registry
  registries:
    # registry для команды zeon-ai
    - name: zeon-ai-game-bot-registry
      prefix: gitlab-registry.project.client.loc/zeon-ai/backend/game-bot
      api_url: https://gitlab.project.client.loc
      credentials: pullsecret:argocd/image-updater-gitlab-deploy-token-game-bot
      insecure: false

    # Заглушка для второй команды (пример для team2)
    - name: team2-registry
      prefix: gitlab-registry.project.client.loc/team2
      api_url: https://gitlab.project.client.loc
      credentials: pullsecret:argocd/image-updater-gitlab-deploy-token-team2
      insecure: false

# Простое монтирование CA сертификата
volumes:
  - name: root-ca
    configMap:
      name: root-ca-cert

volumeMounts:
  - name: root-ca
    mountPath: /usr/local/share/ca-certificates/project-client-root.crt
    subPath: project-client-root.crt
    readOnly: true

# Переменные окружения для CA
extraEnv:
  - name: SSL_CERT_FILE
    value: /usr/local/share/ca-certificates/project-client-root.crt
  - name: REQUESTS_CA_BUNDLE
    value: /usr/local/share/ca-certificates/project-client-root.crt
  - name: CURL_CA_BUNDLE
    value: /usr/local/share/ca-certificates/project-client-root.crt
  - name: GIT_SSL_CAINFO
    value: /usr/local/share/ca-certificates/project-client-root.crt
  - name: GIT_SSL_CAPATH
    value: /usr/local/share/ca-certificates/
